@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 45px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0) rotate(-1deg);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0) rotate(2deg);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0) rotate(-4deg);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0) rotate(4deg);
	}
}

[data-animate] > * {
	opacity: 0;
}

[data-animate].is-animated > * {
	animation: fadeIn 0.8s ease-out both;
}

[data-animate='up'] > * {
	transform: translate3d(0, 45px, 0);
	-webkit-transform: translate3d(0, 45px, 0);
}

[data-animate='up'].is-animated > * {
	animation: fadeInUp 0.8s ease-out both;
}

[data-animate].is-animated > *:nth-child(2),
[data-animate='up'].is-animated > *:nth-child(2) {
	animation-delay: 0.3s;
}

[data-animate].is-animated > *:nth-child(3),
[data-animate='up'].is-animated > *:nth-child(3) {
	animation-delay: 0.5s;
}

[data-animate].is-animated > *:nth-child(4),
[data-animate='up'].is-animated > *:nth-child(4) {
	animation-delay: 0.7s;
}

[data-animate].is-animated > *:nth-child(5),
[data-animate='up'].is-animated > *:nth-child(5) {
	animation-delay: 0.9s;
}

[data-animate].is-animated > *:nth-child(6),
[data-animate='up'].is-animated > *:nth-child(6) {
	animation-delay: 1.1s;
}

[data-animate].is-animated > *:nth-child(7),
[data-animate='up'].is-animated > *:nth-child(7) {
	animation-delay: 1.3s;
}

[data-animate].is-animated > *:nth-child(8),
[data-animate='up'].is-animated > *:nth-child(8) {
	animation-delay: 1.5s;
}

[data-animate].is-animated > *:nth-child(9),
[data-animate='up'].is-animated > *:nth-child(9) {
	animation-delay: 1.7s;
}

.stagger-word {
	display: inline-block;
	margin-right: 0.25em;
	white-space: nowrap;
}

.stagger-character {
	display: inline-block;
	margin-right: 0.02em;
}
