@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 45px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0) rotate(-1deg);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0) rotate(2deg);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0) rotate(-4deg);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0) rotate(4deg);
	}
}