html {
	scroll-behavior: smooth;
}

.header-space {
	height: calc(var(--s-announcement) + var(--s-header));
}

.page-content {
	position: relative;
	padding: var(--s-header) 0 0;
	color: var(--cr-black);
}

.general-page {
	padding: var(--s-header) auto auto;
	color: var(--cr-black);
}

.page-contact {
	padding: var(--s-header) 0 0;

	.marquee {
		height: 60px;
	}

	.marquee-photo {
		width: 50px;
	}
}
