html {
	scroll-behavior: smooth;
	scroll-padding: var(--s-header);
}

html.is-about-triggered {
	main {
		z-index: 2;
	}

	.about {
		transform: translate3d(0, 0, 0);
	}
}

.section {
	padding: var(--s-section) 0;
}
