.btn {
	position: relative;
	display: inline-flex;
	padding: 0 var(--s-3);
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font: var(--t-l-1);
	height: 60px;
	line-height: 60px;
	color: var(--cr-white);
	background: var(--cr-black);
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.2s, color 0.2s;

	@media (hover: hover) {
		&:hover {
			background-color: var(--cr-subtle);
		}
	}
}

.btn[disabled],
button[disabled],
input[disabled] {
	background-color: var(--cr-subdued);
	pointer-events: none;
}

input[type='radio'],
input[type='checkbox'] {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: var(--s-1);
	vertical-align: middle;
	background: var(--cr-white) center/contain no-repeat;
	border: 1px solid;

	&[type='radio'] {
		border-radius: 100%;
	}

	&[type='radio']:checked,
	&[type='checkbox']:checked {
		background-color: var(--cr-black);
	}
}

.field {
	position: relative;
	margin: 0 0 var(--s-3);
	line-height: 1;

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	input[type='password'],
	select,
	textarea {
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border: none;
		outline: none;
		color: var(--cr-black);
		border-bottom: 1px solid var(--cr-black);
		transition: 0.2s;

		&,
		& ~ label {
			padding: var(--s-2) 0;
			font: var(--t-b-2);
			line-height: 30px;
			height: 50px;
		}

		& ~ label {
			position: absolute;
			display: block;
			width: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			color: var(--cr-subdued);
			transition: 0.2s;
		}

		&:focus {
			background-color: var(--cr-subtle);
		}

		&:focus ~ label {
			top: -20px;
			font-size: 12px;
		}

		@media screen and (max-width: 600px) {
			& {
				font-size: 16px;
			}
		}
	}

	&.has-value {
		input[type='text'] ~ label,
		input[type='email'] ~ label,
		input[type='tel'] ~ label,
		input[type='url'] ~ label,
		input[type='password'] ~ label,
		select ~ label,
		textarea ~ label {
			top: -20px;
			font-size: 12px;
		}
	}

	input[type='checkbox'] label,
	input[type='radio'] label {
		display: inline;
		margin-right: var(--s-2);
		line-height: 1;
	}

	select {
		padding: 0;
		background: url(/assets/svg-caret-down.svg) right 20px center/10px no-repeat;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	textarea {
		white-space: normal;
		height: 200px;
		resize: vertical;
	}

	input[type='submit'] {
		display: block;
		width: 100%;
	}

	*::-webkit-input-placeholder {
		color: var(--cr-subdued);
	}

	*::-moz-placeholder {
		color: var(--cr-subdued);
	}

	*:-ms-input-placeholder {
		color: var(--cr-subdued);
	}

	*:-moz-placeholder {
		color: var(--cr-subdued);
	}
}

.field-group {
	font-size: 0;

	.field {
		display: inline-block;
		width: calc(50% - var(--s-3) / 2);
		margin: 0 var(--s-3) var(--s-3) 0;
	}

	.field:nth-of-type(2n) {
		margin: 0 0 var(--s-3);
	}
}

form {
	position: relative;

	.form-error,
	.form-success {
		font: var(--t-b-1);
	}

	.form-errors ul {
		padding: 0;
	}

	.form-success ~ * {
		-webkit-animation: 0.6s fadeOut both;
		animation: 0.6s fadeOut both;
		pointer-events: none;
	}

	.form-success {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		-webkit-animation: 0.6s 0.4s fadeIn both;
		animation: 0.6s 0.4s fadeIn both;
	}
}
