/*

	U1 SETTINGS
	U2 COLOR
	U3 TYPOGRAPHY
	U4 LAYOUTS
	U5 COMPONENTS

*/

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-xxthin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-xxthin-italic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-thin.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-thin-italic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-light-italic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-roman.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-roman-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Neue Haas Grotesk Display';
	src: url('/fonts/font-neue-haas-display-medium-italic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: block;
}

/*	U1 SETTINGS	*/

:root {
	--cr-black: #16161a;
	--cr-white: #fffffe;
	--cr-subdued: #e2e2e2;
	--cr-gray: #9ba4b5;

	--t-heading-1: 200 max(6vw, 72px) / 1.1 'Neue Haas Grotesk Display', Helvetica,
		sans-serif;
	--t-heading-2: 200 max(5vw, 64px) / 1.3 'Neue Haas Grotesk Display', Helvetica,
		sans-serif;
	--t-heading-3: 200 min(3vw, 32px) / 1.3 'Neue Haas Grotesk Display', Helvetica,
		sans-serif;
	--t-title: 700 56px / 1.2 'Neue Haas Grotesk Display', Helvetica, sans-serif;
	--t-subtitle: 100 56px / 1.2 'Neue Haas Grotesk Display', Helvetica,
		sans-serif;
	--t-body: 300 20px/1.5 'Neue Haas Grotesk Display', Helvetica, sans-serif;
	--t-label: 300 16px/1 'Neue Haas Grotesk Display', Helvetica, sans-serif;
	--t-label-light: 200 16px/1 'Neue Haas Grotesk Display', Helvetica, sans-serif;

	--w-1: 1200px;
	--w-2: 800px;
	--w-3: 600px;
	--w-4: 420px;
	--w-5: 300px;

	--s-gutter-sm: 16px;
	--s-gutter: 24px;
	--s-gutter-md: 32px;
	--s-gutter-lg: 64px;
	--s-gutter-xl: 80px;
	--s-container-max: 1600px;

	--e-inOut-Sine: cubic-bezier(0.37, 0, 0.63, 1);
	--e-inOut-Quad: cubic-bezier(0.45, 0, 0.55, 1);
	--e-inOut-Cubic: cubic-bezier(0.65, 0, 0.35, 1);
	--e-inOut-Quart: cubic-bezier(0.76, 0, 0.24, 1);
	--e-inOut-Quint: cubic-bezier(0.83, 0, 0.17, 1);
	--e-inOut-Expo: cubic-bezier(0.87, 0, 0.13, 1);
	--e-inOut-Circ: cubic-bezier(0.85, 0, 0.15, 1);
}

::selection {
	text-shadow: none;
	background-color: rgba(#009dae, 0.25);
}

::-moz-selection {
	text-shadow: none;
	background-color: rgba(#009dae, 0.25);
}

@media screen and (max-width: 900px) {
	:root {
		--t-heading-2: 200 max(5vw, 48px) / 1.1 'Neue Haas Grotesk Display',
			Helvetica, sans-serif;
		--t-heading-3: 200 max(3vw, 24px) / 1.1 'Neue Haas Grotesk Display',
			Helvetica, sans-serif;
		--t-body: 300 16px/1.5 'Neue Haas Grotesk Display', Helvetica, sans-serif;
		--t-label: 400 12px/1 'Neue Haas Grotesk Display', Helvetica, sans-serif;
		--t-label-light: 200 12px/1 'Neue Haas Grotesk Display', Helvetica,
			sans-serif;
	}
}

@media (hover: hover) {
	* {
		outline-offset: 3px;
		outline-color: transparent;
	}

	*:focus-visible {
		outline: 1px dotted rgba(125, 125, 125, 0.8);
	}
}

/*	U1 SETTINGS - END	*/

/*	U2 COLOR	*/

html {
	color: var(--cr-black);
}
.cr-black {
	color: var(--cr-black);
}
.cr-white {
	color: var(--cr-white);
}
.cr-subdued {
	color: var(--cr-subdued);
}
.cr-gray {
	color: var(--cr-gray);
}

.bg-black {
	background-color: var(--cr-black);
}
.bg-white {
	background-color: var(--cr-white);
}
.bg-subdued {
	background-color: var(--cr-subdued);
}
.bg-gray {
	background-color: var(--cr-gray);
}
/*	U3 COLOR - END	*/

/*	U3 TYPOGRAPHY	*/

body {
	font: var(--t-body);
	color: var(--cr-white);
	background-color: var(--cr-black);
	-webkit-font-smoothing: subpixel-antialiased;
}

h1,
.t-heading-1 {
	font: var(--t-heading-1);
}

h2,
.t-heading-2 {
	font: var(--t-heading-2);
}

h3,
.t-heading-3 {
	font: var(--t-heading-3);
}

h4,
h5,
h6,
p,
ol,
ul,
.t-body {
	font: var(--t-body);
	letter-spacing: 0.05em;
}

.t-title {
	font: var(--t-title);
}

.t-subtitle {
	font: var(--t-subtitle);
}

.t-label {
	font: var(--t-label);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.t-label-light {
	font: var(--t-label-light);
	letter-spacing: 0.05em;
}

.t-light {
	font-weight: 100;
}

.t-bold {
	font-weight: 600;
}

.t-italic {
	font-style: italic;
}

.t-wrap {
	white-space: pre-line;
}

blockquote {
	display: block;
	margin: 0 auto;
	padding: calc(var(--s-gutter) / 2) var(--s-gutter);
	border-left: 5px solid var(--cr-subdued);
	color: var(--cr-secondary);
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-style: italic;
	font-weight: 300;
}

/*	U3 TYPOGRAPHY - END	*/

/*	U4 LAYOUTS	*/

.main-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	header,
	footer {
		flex: none;
	}

	main {
		position: relative;
		flex: 1;
	}
}

.c,
.c-1,
.c-2,
.c-3,
.c-4 {
	/* c for contain */
	position: relative;
	width: calc(100vw - var(--s-gutter-sm) * 2);
	max-width: var(--s-contain-max);
	margin-left: auto;
	margin-right: auto;
}

.c-1 {
	width: calc(100vw - var(--s-gutter) * 2);
}
.c-2 {
	width: calc(100vw - var(--s-gutter-md) * 2);
}
.c-3 {
	width: calc(100vw - var(--s-gutter-lg) * 2);
}
.c-4 {
	width: calc(100vw - var(--s-gutter-xl) * 2);
}

.w-1 {
	max-width: var(--w-1);
}
.w-2 {
	max-width: var(--w-2);
}
.w-3 {
	max-width: var(--w-3);
}
.w-4 {
	max-width: var(--w-4);
}
.w-5 {
	max-width: var(--w-5);
}

.f-h {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.f-v {
	display: flex;
	flex-direction: column;
}

.f-w {
	flex-wrap: wrap;
}
.f-nw {
	flex-wrap: nowrap;
}

.f-a-s {
	align-items: flex-start;
}
.f-a-c {
	align-items: center;
}
.f-a-st {
	align-items: stretch;
}
.f-a-e {
	align-items: flex-end;
}

.f-j-s {
	justify-content: flex-start;
}
.f-j-c {
	justify-content: center;
}
.f-j-e {
	justify-content: flex-end;
}
.f-j-b {
	justify-content: space-between;
}

.f-1 {
	flex: 1;
}
.f-none {
	flex: none;
}

.g {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.g-1 {
	grid-template-columns: repeat(1, 1fr);
}
.g-2 {
	grid-template-columns: repeat(2, 1fr);
}
.g-3 {
	grid-template-columns: repeat(3, 1fr);
}
.g-4 {
	grid-template-columns: repeat(4, 1fr);
}
.g-5 {
	grid-template-columns: repeat(5, 1fr);
}
.g-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gap-gutter-sm {
	gap: var(--s-gutter-sm);
}
.gap-gutter {
	gap: var(--s-gutter);
}
.gap-gutter-md {
	gap: var(--s-gutter-md);
}
.gap-gutter-lg {
	gap: var(--s-gutter-lg);
}
.gap-gutter-xl {
	gap: var(--s-gutter-xl);
}

.gap-1 {
	gap: 4px;
}
.gap-2 {
	gap: 8px;
}
.gap-3 {
	gap: 12px;
}
.gap-4 {
	gap: 16px;
}
.gap-5 {
	gap: 20px;
}
.gap-6 {
	gap: 24px;
}
.gap-7 {
	gap: 28px;
}
.gap-8 {
	gap: 32px;
}
.gap-9 {
	gap: 36px;
}
.gap-10 {
	gap: 40px;
}

.p-fill {
	/* p for position */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.p-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

/* no highlighting (via ::selection) */
.user-select-disable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* for accessibility (e.g. a form label that isn't needed for regular users) */
.screen-reader-only {
	position: absolute !important;
	left: -10000px !important;
	top: auto !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
}

.is-hidden {
	display: none !important;
}

@media (max-width: 900px) {
	.tablet-up-only {
		display: none !important;
	}
}

@media (min-width: 901px) {
	.tablet-down-only {
		display: none !important;
	}
}

@media (max-width: 600px) {
	.mobile-up-only {
		display: none !important;
	}
}

@media (min-width: 601px) {
	.mobile-down-only {
		display: none !important;
	}
}

/*	U4 LAYOUTS - END	*/

/*	U5 COMPONENTS */
.btn {
	position: relative;
	flex: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font: var(--t-label);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	white-space: nowrap;
	background: transparent;
	box-shadow: none;
	outline: none;
	user-select: none;
	pointer-events: auto;
	cursor: pointer;

	color: var(--cr-white);

	&--text {
		@extend .btn;
		gap: 12px;

		&:after {
			content: '';
			width: 14px;
			height: 14px;
			mask: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzU5XzcwKSI+CjxwYXRoIGQ9Ik02LjYwMDEgMC42NjY3MDhMMTEuNDAwMSA2LjAwMDA0TDYuNjAwMSAxMS4zMzM0IiBzdHJva2U9IiNGRkZGRkUiIHN0cm9rZS13aWR0aD0iMC41Ii8+CjxwYXRoIGQ9Ik0wLjYwMDA5NyAwLjY2NjcwOEw1LjQwMDEgNi4wMDAwNEwwLjYwMDA5OCAxMS4zMzM0IiBzdHJva2U9IiNGRkZGRkUiIHN0cm9rZS13aWR0aD0iMC41Ii8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfNTlfNzAiPgo8cmVjdCB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEyKSByb3RhdGUoLTkwKSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=)
				center/cover no-repeat;
			background-color: currentColor;
			transition: transform 0.4s var(--e-inOut-Cubic);
		}

		@media (hover: hover) {
			&:hover {
				&:after {
					transform: translate(8px, 0);
				}
			}
		}
	}
}

.btn[disabled],
button[disabled] {
	background-color: var(--cr-subdued);
	pointer-events: none;
}

/*	U5 COMPONENTS - END	*/
